{% extends "board_game_club_app/base.html" %}

{% block content %}

    <p>BoardGame: {{ Boardgame }}</p>

    <p>Reviews:</p>
    <p>
        <a href="{% url 'board_game_club_app:new_review' boardgame.id %}">Add new review</a>
    </p>
        
    <ul>
    {% for review in reviews %}
        <li>
            <p>{{ review.date_added|date }}</p>
            <p>{{ review.my_review|linebreaks }}</p>
            <p>
                <a href="{% url 'board_game_club_app:edit_review' review.id %}">Edit review</a>
            </p>
        </li>
    {% empty %}
        <li>There are no reviews for this board game yet.</li>
    {% endfor %}
    </ul>

{% endblock content %}

###