{% extends "board_game_club_app/base.html" %}

{% block page_header %}
    <h1>Board Games</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for boardgame in boardgames %}
            <li><h3>
                <a href="{% url 'board_game_club_app:boardgame' boardgame.id %}">{{ boardgame }}</a>
            </h3></li>
        {% empty %}
            <li><h3>No board games have been added yet.</h3></li>
        {% endfor %}
    </ul>
    
    <h3><a href="{% url 'board_game_club_app:new_board_game' %}">Add a new board game</a></h3>

{% endblock content %}
