{% extends 'board_game_club_app/base.html' %}
{% block page_header %}

    <h3>{{ boardgame }}</h3>
    
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'board_game_club_app:new_review' boardgame.id %}">Add new review</a>
    </p>



    <p>
        <a href="{% url 'board_game_club_app:borrow_game' boardgame.id %}">Borrow the game</a>
    </p>



    
    {% for review in reviews %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ review.date_added|date}}
                {{ review.my_review}}
                {{ review.rating}}
                <small><a href="{% url 'board_game_club_app:edit_review' review.id %}">
                    edit review</a></small>
            </h4>
            <div class="card-body">
                {{ review.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>There are no reviews for this board game yet.</p>
    {% endfor %}
{% endblock content %}
